@import "tailwindcss";

/* .head {
    border: 1px black solid;
    display: flex;
    justify-content: space-between;
    background-color: bisque;
    height: 100px;

}

.headList {
    display: flex;
    list-style: none;
    margin: 30px 70px 0px 0px;

}

.headList li {
    margin: 0px 10px;
    font-size: 21px;
}

.logo {
    width: 100px;
    height: 100px;
}

.apiImage {
    height: 200px;
    width: 200px;
    margin: 20px;
}
.restCard{
    display: flex;
    flex-wrap: wrap;
    margin: 20px 30px 0px 110px;
}

.cards{
    margin :20px 10px 0px 0px;
    padding:10px;
    border: 2px #f0f0f0 solid;
    height:auto;
    width:150px;
}

.cards:hover{
    margin :20px 10px 0px 0px;
    padding:10px;
    border: 2px #f0f0f0 solid;
    height:auto;
    width:140px;
}
.resimg{
    width:150px;
    height:100px;
    object-fit: cover;
}

.fun-card{
    width:300px;
    height: auto;
    border: 2px #f0f0f0 solid;
    margin-top: 30px;
    padding: 10px;
    background-color: beige;
}

.cl-card{
    width:300px;
    height: auto;
    border: 2px #eee7e7 solid;
    margin-top: 20px;
    padding: 10px;
    background-color: aliceblue;
} */


.cuisine-card-text {
    white-space: nowrap;        /* Prevents text from wrapping */
    overflow: hidden;           /* Hides overflowing text */
    text-overflow: ellipsis;    /* Adds '...' when the text overflows */
    max-width: 200px;           /* Set a max width for the card */
  }