div#content,
div.content {
  position: relative;
  padding: 0% 0%;
  border: 1px solid #a7a7a7;
  min-height: 25vh;
  background-color: #fff;
  display: block;
  margin-top: 10px;
}

.rightForm{
  margin-right: 50px;

}

.col-form-label {
  font-size: 14px !important;
  color: black !important;
  font-weight: 400 !important;
}

.col-sm-10 {
  flex: 0 0 auto;
  width: 72.333333% !important;
}

.mb-1 {
  margin-bottom: -0.75rem !important;
}

.col-sm-4 {
  flex: 0 0 155px;
  width: 33.33333333%;
  text-align: end !important;
  color: black !important;
  font-weight: 400 !important;
}

.row {
  --bs-gutter-x: 1.5rem !important;
}


.p-multiselect-label-container {
  height: 37px !important;
  text-align: center !important;
  font-size: 13px;
}

.col-sm-3 {
  text-align: end !important;
  color: black !important;
  font-weight: 400 !important;
}

.upload > button {
  font-size: 15px !important;
  background: #0064c8;
}



.input_wrap span svg {
  position: absolute;
  right: 10px;
  bottom: 0;
  top: 50%;
  transform: translateY(-50%);
}

#current-password {
  position: relative;
  font-size: 16px;
  padding: 5px;

}
input::-ms-reveal { display: none; }
#new-password {
  position: relative;
  font-size: 16px;
  padding: 5px;
}
#confirm-password {
  position: relative;
  font-size: 16px;
  padding: 5px;
}
.addAdminButton {
  color: #fff !important;
  border-radius: 0px !important;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}
.resetAdminButton {
  color: #fff !important;
  border-radius: 0px !important;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}
.closeAdminButton {
  background-color: #fff !important;
  border-radius: 0px !important;
  color: black !important;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  border: none !important;
}

.form-check-input {
  width: 3em !important;
  height: 1.2em !important;
}




#footer {
  position: relative;
  padding: 1%;
  border: 1px solid #a7a7a7;
  background-color: #fff;
  margin-top: 15px;
  text-align: center;
}


.landing_text{ 
    font-size: 14px !important;
    font-weight: 400 !important;
}

#landing_text{
  padding-right: 0px;
    margin-left: 82px !important;
    margin-top: 20px !important;
    text-align: center;
    font-size: 14px !important;
    font-weight: 400 !important;
}
#landing_drop {
  
    flex: 0 0 auto;
    width: 57.666667% !important;
    height : 50px !important;
    margin-top: 20px !important;
    font-size: 14px !important;
    border-radius: none !important;

}

.user_accont_form_row{
      flex-wrap: nowrap !important;
}


.p-multiselect-filter-container{
  width: 300px !important;
  margin-left: 19px !important;
}

.export-buttons{
  margin-bottom: 9px;
  margin-left: -606px;
  margin-top: -4px;
  height: 23px;
}


img.event_url {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #000;
}



.p-inputtext {
  margin: -4px;
  font-size: 13px;
}

.success {
  color: #0A0;
 
}
.warning {
  color: #F80;
  
}



.testing{
  border: 1px solid red;
}


.dragging{
  background-color: rgb(82, 80, 80) !important;
}


#manage_card_distance_modal .modal-content{
  width: 463px !important;
}





.MuiListItemIcon-root.css-cveggr-MuiListItemIcon-root{
  margin-left: 11px !important;
}

.MuiTypography-root.MuiTypography-body1.MuiListItemText-primary.css-10hburv-MuiTypography-root{
  font-size: 11px !important;
}





.title-class {
  font-size: 15px !important;
}


.icon-class {
  font-size: 10px !important;
}

.swal2-popup{
  width:auto !important;
}

#merge-event-popup-form {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  font-size: 13px;
}

.text-merge-event {
  font-size: 22px;
}




#disabledInput{
  width:auto !important;
}

#selected_group{
  background: #fff;
  border: none;
  box-shadow: none;
}


.manage_card_button{
  width:80px;
  padding:3px;
  margin-top: 10px;
  background-color: #337ab7 !important;
  font-size:13px !important;
}

.serchBarManageCard{
  display: flex;
  gap: 10px;
}
.serchManageIcon{
  width:145px;
}
.searchTextman{
  font-size: 14px;
  color: #8e5454;
}

.modalTitle{
  font-size: 20px;
}



#footer{
  position: relative;
  padding: 1%;
  border: 1px solid #a7a7a7;
  background-color: #fff;
  margin-top: 15px;
  text-align: center;
}

.cstm-datatable table tr th{
  min-width:114px !important;
  font-size: 12px !important;
  padding:4px 12px !important;
}

.cstm-datatable table tr th:nth-child(1){
  min-width:50px !important;
}

/* 
.cstm-header-top{
  padding-right:40px;
}
*/

.cstm-select-form {
  width: 100% !important;
  margin-bottom: 5px !important;
  border-radius: unset;
}

.cstm-row-btn-btm {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cstm-select-form .p-multiselect-label.p-placeholder {
  padding: 8px 0px !important;
}
.cstm-search-outer .pi-search{
  margin-left: 5px;
}

.cstm-search-input {
  width: 100%;
  padding-left: 38px;
  height: 38px;
}
.cstm-excel-btn , .cstm-csv-btn{
  width: 90px;
  margin-right: 5px;
  border-radius: 5px;
  background: rgb(36, 123, 39);
  height: 39px;
  width: "100px";
} 



/*  */

.cstm-header-top {
  /* padding: 1rem; */
  background-color: #f8f9fa; /* Optional: Background color for the header */
  /* border-bottom: 1px solid #dee2e6;  */
}

.cstm-header-top .d-flex {
  display: flex; /* Use flexbox for alignment */
  align-items: center; /* Center items vertically */
  justify-content: space-between; /* Space items evenly */
}

.cstm-header-top .toggleMenu {
  margin-left: 1rem; /* Add some space between dropdown and toggle menu */
}

.cstm-header-top .export-buttons {
  margin-left: auto; /* Push export buttons to the right */
}

.cstm-header-top .cstm-search-outer {
  margin-left: 1rem; /* Add space between export buttons and search input */
}

.cstm-header-top .cstm-search-input {
  width: 200px; /* Set a fixed width for the search input */
}

.cstm-header-top .cstm-excel-btn,
.cstm-header-top .cstm-csv-btn {
  margin-right: 0.5rem; 
}



.customPage{
  color: grey;
  font-size: 13px; 
  margin-right: 3px;
  margin-left: -12px;
}

/*  */


.event-box .cstm-input-text {
  position: relative;
}
.btn-flex {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.buying_account_form .MuiFormControl-root.css-1nrlq1o-MuiFormControl-root {
  width: 100%;
}
.buying_account_form .MuiFormControl-root.css-1nrlq1o-MuiFormControl-root .MuiFormGroup-root.MuiFormGroup-row.MuiRadioGroup-root.MuiRadioGroup-row {
  width: 100%;
}
.buying_account_form .MuiFormControl-root.css-1nrlq1o-MuiFormControl-root .MuiFormGroup-root.MuiFormGroup-row.MuiRadioGroup-root.MuiRadioGroup-row .row {
  width: 100%;
}
.file-upload{
  display: flex;
}
.file_input {
  display: flex;
  align-items: center;
  padding: 0 10px;
}
.file-upload button.btn.btn-primary {
  font-size: 11px;
  padding: 2px 7px;
}
.custom_input span {
  padding-top: 2px;
  padding-bottom: 2px;
}
button#button_events_reset , button#button_events_get{
  border-radius: unset;
  height:35px;
  text-align: center;
}
.buyingAccountUpload{
  margin-left: 202px !important;
  margin-right: -40px !important;
}
.cstm-input-text{
  border-radius: unset;
}

.home-page-form{
  height: 34px;
}
.input-flex-d{
  display: flex;
  gap: 10px;
}
.input-flex-d label#demo-radio-buttons-group-label{
  margin-top: 5px;
}
.date-range {
  display: flex;
  gap: 10px;
}
.date-range.range_box span.range_label {
  width: 13%;
  text-align: right;
}
.date-range.range_box .range_pik {
  width: 87%;
}
.input_wrap {
  position: relative;
}
.upload_btn{
  justify-content: space-between;
  display: flex;
  padding-right: 15px;
}
.progress_block {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 10px;
}
.progress_block span.pro_input {
  width: 70%;
}
.cstm-parent-col .MuiFormControl-root {
  width:100%;
}
.cstm-width-outer{
  width: 100%;
}
/*16/10/2024 css start here */