#pwd-container{
    text-align: center;
    margin-top: 20px;
    display: flex;
  flex-direction: column;
  width:300px;
  align-self: center;
  margin-left: 30%;
}


.login-form {
    text-align: center;
    margin-top: -5px;
}

.logo-section{
    background-color: rgba(0,0,0,0.3);
    padding:15px;
}
form.form-signin {
    color: #5d5d5d;
    background: #8a818a;
    border-radius: 0;
    border-bottom: 3px solid #d4d5e0;
    padding: 26px;
}

.form-signin h2{
    color:#fff;
    text-transform: uppercase;
    font-size: 24x;
}
form[role=login] img {
    display: block;
    margin: 0 auto;
    margin-bottom: 35px;
}
form[role=login] input{
    margin: 16px 0;
    font-size: 14px;
}

form[role=login] button {
    font-size: 16px;
    margin: 16px 0;
}



form[role=login] button {
    font-size: 16px;
    margin: 16px 0;
}

form[role=login] > div {
    text-align: center;
}

.form-links {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 50px;
}
.form-links a {
    color: #fff;
}

button.login {
    background-color: #b30b00;
    border-color: #b30b00;
    width:250px;
}
#login_email{
    width:250px !important;
}
#login_password{
    width:250px !important;
}
#access{
    width:250px !important;
}


#forgetButton{
    background: none !important;
    border: none;
    text-decoration: underline;
    color:#0064C8;
    font-size: 13px;
    margin-left: -10px;

}
#forgetButton>.fa.fa-map{
    margin-left: 20px !important;
}
#forgetButton>.fa.fa-balance-scale{
    margin-left: 20px !important;
}
#footer_login {
    bottom: 0;
    color: #bdbcbc;
    text-align: center;
    font-size: 14px;
    padding-top: 10px;
    font-weight: 400;
    width: 100%;
    position: absolute;
    height: 38px;
    background-color: #585a6a;
    left: 0;
}
@media only screen and (min-width: 320px) and (max-width: 768px)
{
    #modal_login_otp .modal-footer .btn-default
    {
        display: none;
    }
    #modal_login_otp .modal-footer .btn
    {
        width: 100%;
    }
}