.upload >button{
    font-size: 15px !important;
    background: #0064C8;
}
/* 26-12-2024 new css  */
.upload_btn.custmGrid4{
    display: grid;
    gap:4px;
    grid-template-columns: repeat(4, 1fr);
}
.cstm-datatable.custm-tablehead table thead tr th:nth-child(2){
    min-width: 60px !important;
}
.cstm-datatable.custm-tablehead table thead tr th:nth-child(3){
    min-width: 80px !important;
}
.cstm-datatable.custm-tablehead table thead tr th:nth-child(4){
    min-width: 50px !important;
}
.cstm-datatable.custm-tablehead table thead tr th:nth-child(12){
    min-width: 80px !important;
}
.cstm-datatable.custm-tablehead table thead tr th:nth-child(13){
    min-width: 80px !important;
}



@media(max-width:576px){
    .upload_btn.custmGrid4{
        grid-template-columns: repeat(2, 1fr);
    }
    .p-input-icon-left,
    .cstm-header-top .cstm-search-outer{
        width: 100%;
    }
    .cstm-header-top .cstm-search-outer .cstm-search-input{
        width: 100%;
    }
    
}